.itemCount--container {
	width: 250px;
	padding: 15px 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	border: 1px solid grey;
	border-radius: 15px;
	margin-bottom: 20px;
}

.itemCount--button {
	padding: 7px 30px;
	border-radius: 10px;
}
.itemCount--span {
	color: rgb(18, 252, 18);
	font-size: 25px;
	font-weight: 700;
}
